:root {
  --fs-lg: 3.7rem;
  --fs-xl: 6.2rem;
  --fs-md: 1.6rem;
  --fs-sm: 1.4rem;
  /* color */

  --clr-des-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --clr-dark-red: hsl(0, 6%, 24%);
  --clr-light-blue: hsl(210, 46%, 95%);

  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, (0, 0%, 100%), hsl(0, 100%, 98%));
  font-family: "Josefin Sans", sans-serif;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
/* 
General idea: Start with phone design 
and move toward to Desktop view, 
It is mobile first design concept.
In the moblie design: We use flex box,
*/
/* ########### Container CSS########## */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: start;
  margin-left: 1.2rem;
  order: -1;
}
.logo {
  width: 12rem;
  margin-bottom: 3rem;
}

/* Without fix length, it will stretch due to flexbox */
.hero-img {
  background: url("../images/hero-mobile.jpg");
  max-width: 37.5rem;
  height: 25rem;
  margin-bottom: 6rem;
}
/*  Main content  */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
  max-width: 37.5rem;
}
.content__wrapper {
  max-width: 31.1rem;
}
.content__heading {
  font-size: var(--fs-lg);
  text-transform: uppercase;
  line-height: 4.2rem;
  letter-spacing: 1rem;
  margin-bottom: 1.6rem;
}
 /* change default browser behavior */

.content__heading::selection , 
.content__heading span::selection,
.content__description::selection {
  background-color: var(--clr-dark-red);
  color: var(--clr-light-blue);
}


.content__heading span {
  color: var(--clr-des-red);
  font-weight: 300;
}

.content__description {
  font-size: var(--fs-md);
  color: var(--clr-des-red);
  line-height: 2.2rem;
  margin-bottom: 3.2rem;
}

/* Form*/
.form {
  position: relative;
  margin-bottom: 8rem;
}
.form__wrapper {
  margin-bottom: 0.3rem;
  padding-inline: 0.1rem;
}

.form__wrapper input[type="email"] {
  width: 100%;
  height: 4.8rem;
  border-radius: 4rem;
  padding-left: 2rem;
  border: 1px solid var(--clr-des-red);
  outline: none;
}
.form__wrapper input[type="email"]::placeholder {
  color: var(--clr-des-red);
  opacity: 0.5;
}

.icon {
  position: absolute;
  display: flex;
  height: 4.8rem;
  align-items: center;

  top: 0.1rem;
  right: 0;
}
.arrow-icon {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 4rem;
  padding: 1.3rem 2.6rem;

  cursor: pointer;
  border: none;
  outline: none;
}
.error-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
  opacity: 0;
}
#error-msg {
  margin-left: 2rem;
  text-align: start;
  color: #fb3e3e;
  font-size: var(--fs-sm);
}
.flag {
  opacity: 1;
}

/* ########### Desktop CSS########## */
@media only screen and (min-width: 80rem) {
  .wrapper {
    background: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 61rem 80rem;

    background-position: top right;

    align-items: start;
  }
  .content {
    width: 80%;
    height: 100%;
    text-align: start;
    margin: 6.6rem 0 0 16.5rem;

  }
  .header {
    width: 15.7rem;
    height: 3.3rem;
    margin-left: 0;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .hero-img {
    display: none;
  }

  .content__wrapper {
    width: 44.5rem;
    max-width: 44.5rem;
    height: 40.4rem;
  }
  .content__heading {
    margin-top: 13.6rem;
    font-size: var(--fs-xl);
    line-height: 7.1rem;
    letter-spacing: 1.7rem;
  }
  .content__description {
    font-size: var(--fs-sm);
    line-height: 2.8rem;
  }
}

@media only screen and (min-width: 80rem) and (min-height: 45rem) {
  .wrapper {
    background: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    background-position: top right;

    align-items: start;
  }
}

